{
  "presets": ["env", "react"],
  "env": {
    "production": {
      "plugins": [
        ["module-resolver", {
          "root": ["."],
          "alias": {
            "react": "nervjs",
            "react-dom": "nervjs"
          }
        }]
      ]
    }
  }
}
