.zone-chooser {
  max-width: 20rem;
  position: absolute;
  right: .6rem;
  top: .6rem;
  font-family: arial;
  z-index: 2;
}

.zone-chooser__opener a {
  background: transparent url('../../../assets/settings-work-tool.svg') no-repeat center;
  font-size: 0;
  height: 2rem;
  width: 2rem;
  display: block;
}

.zone-chooser__chooser {
  padding: 1rem;
  border-radius: .2rem;
}

.zone-chooser__form > * {
  margin: 0;
  padding: 0;
}

.zone-chooser__form label:not(:first-child) {
  margin-top: .4rem;
}

.zone-chooser p {
  margin: 0;
}

.zone-chooser ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.zone-chooser__form label {
  display: block;
}

.zone-chooser button {
  margin-left: .4rem;
}

.zone-chooser__save {
  /* width: 100%; */
  /* margin: 0 !important; */
}

.zone-chooser__form input {
  /* display: block; */
  /* width: 100%; */
}

.zone-chooser__form input[type=submit] {
  /* margin-top: .6rem; */
}

.zone-chooser.is-active .zone-chooser__chooser,
.zone-chooser .zone-chooser__opener {
  display: block;
}

.zone-chooser .zone-chooser__chooser,
.zone-chooser.is-active .zone-chooser__opener {
  display: none;
}

.zone-chooser.is-active {
  /* display: block; */
}
