.clocks {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
}

.clocks__clock {
  position: relative;
}

.clocks__clock-timezone {
  font-family: Copperplate;
  min-height: 6rem;
}

.clocks__clock-timezone h5 {
  margin: 0;
  line-height: 1em;
}

.clocks__clock-timezone h6 {
  font-size: 1em;
  color: #bdbdbd;
}

.clocks__clock-settings {
  background: transparent url('../../../assets/settings-work-tool.svg') no-repeat center;
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 1rem;
  display: none;
  cursor: pointer;
}

.clocks__clock:hover .clocks__clock-settings {
  display: block;
}
