.clocks {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
}

.clocks__clock {
  width: 33.333%;
}

.clocks__clock-timezone {
  font-size: 2em;
}
